.main-container {
    height: 100vh;
    background-color: transparent;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
}

.logo-holder {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 38px;
}

.tagline {
    font-size: 16px;
}

.pulse {
    background-color: #ffd5d5;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;

    animation-timing-function: ease-in;
    animation-name: pulse-anim;
    animation-iteration-count: infinite;
    transition: background-color 0.2s;
}

@keyframes pulse-anim {
    0% {
        filter: saturate(3);
    }
        25% {
        filter: saturate(3);
    }
    50% {
        filter: saturate(5);
    }
        75% {
        filter: saturate(4);
    }
    100% {
        filter: saturate(3);
    }
}