.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-size: 32px;
    justify-content: space-between;
    padding-bottom: 20%;
}

.container > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bpm {
    font-size: 24px;
}


.track {
    margin: 50px;
}

.select {
    padding: 5px;
    background-color: #ffffff66;
    font-size: 26px;
    border: 2px solid #333;
    color: #333;
    border-radius: 2px;
    text-align-last:center;
    outline: 0;
    font-family: 'K2D', sans-serif;
    margin: 10px 0;
}

.genre {
    font-size: 24px;
}

.select option {
    text-align: center;
}

.go {
    background-color: #222;
    border-radius: 5px;
    padding: 15px;
    color: white;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    filter: saturate(0.6);
    display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
}

.go img {
    height: 40px;
    padding-left: 10px;
}

input[type=range].track {
  -webkit-appearance: none;
  width: 100%;
  margin: 11.2px 0;
}
input[type=range].track:focus {
  outline: none;
}
input[type=range].track::-webkit-slider-runnable-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(109, 108, 109, 0.8);
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].track::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #670000, 0px 0px 0px #810000;
  border: 1px solid rgba(0, 0, 0, 0.33);
  height: 48px;
  width: 26px;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.2px;
}
input[type=range].track:focus::-webkit-slider-runnable-track {
  background: rgba(122, 121, 122, 0.8);
}
input[type=range].track::-moz-range-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: rgba(109, 108, 109, 0.8);
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].track::-moz-range-thumb {
  box-shadow: 0px 0px 0px #670000, 0px 0px 0px #810000;
  border: 1px solid rgba(0, 0, 0, 0.33);
  height: 48px;
  width: 26px;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
input[type=range].track::-ms-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].track::-ms-fill-lower {
  background: rgba(96, 95, 96, 0.8);
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].track::-ms-fill-upper {
  background: rgba(109, 108, 109, 0.8);
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].track::-ms-thumb {
  box-shadow: 0px 0px 0px #670000, 0px 0px 0px #810000;
  border: 1px solid rgba(0, 0, 0, 0.33);
  height: 48px;
  width: 26px;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  height: 25.6px;
}
input[type=range].track:focus::-ms-fill-lower {
  background: rgba(109, 108, 109, 0.8);
}
input[type=range].track:focus::-ms-fill-upper {
  background: rgba(122, 121, 122, 0.8);
}
